<%= image_tag("apartment.jpg", id: "background") %>
<div class="container" id="block1">
	<div id="confirm" class="content">
		<h1>Got it! We'll be in touch shortly to help you with your apartment hunt!</h1>
		<h3>Feel free to enter additional apartments you're considering <%= link_to 'here', root_url  %>.</h3>
	</div>
</div>