<div class="container" id="hook">
		<div id="content1" class="content">
				<b><p>You spend hours reading reviews before placing a $20 dinner order. 
				<br>Shouldn't you do the same before making the biggest financial commitment of your life?</p></b>
		</div>
</div>
<div class="container" id="block1">
	<div id="block1_content">
		<div id="form_div" class="content">
			<h3 id="form_head">Get Tenant Reviews for Your New Apartment</h3>
			<%= render 'form' %>
		</div>
	</div>
</div>
<div class="container" id="block2">
	<h2 class="subtitle">Thine Apartment Hunter's Decree:</h2>
	<p class="details" id="pitch">The decision to rent or buy an apartment will likely be your largest financial commitment. As an intelligent consumer, you will not be pressured into renting or buying before doing your homework. Nor will you be surprised by your apartment's, so called, <em>personality</em>. Instead, you will do your research, just like you would for a new laptop, TV or delivery order.<br><br>And <em>NEVER</em> regret your decision to rent or buy again.</p>
	<h2 class="subtitle">What's included in your report:</h2>
	<p class="details">Discover all of the details about your apartment - those that only tenants would know.</p>
	<table class="details">
		<tr>
			<td><ul>
				<li>Super Responsiveness</li>
				<li>Outside Noise Level</li>
				<li>Noise Between Apartments</li>
				<li>Water Pressure</li>
			</ul></td>
			<td><ul>
				<li>Water Heating</li>
				<li>Heating and Cooling</li>
				<li>Crime Level</li>
				<li>Closet Space</li>
			</ul></td>
			<td><ul>
				<li>Pest and Insect Presence</li>
				<li>Construction Frequency</li>
				<li>Appliance Reliability</li>
				<li>Rent Fairness</li>
			</ul></td>
		</tr>
	</table>
	<b><p id="waiting" class="details">...and much more! What are you waiting for? <%= link_to 'Get your apartment reviews report today!', root_url %></p></b>
		<br>
</div>
<div class="container" id="block3">
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>