#apt_index {
	display: block;
	clear: left;
	margin-left: 10%;
	width: 80%;

	.listing {
		padding: 10px;
		margin-bottom: 10px;
		border: 1px solid black;

		#map_canvas {
			width: 300px;
			height: 250px;
			float: right;
		}

		.reviews {
			margin: 10px;
			padding: 10px;
			border: 1px solid black;

			.review {
				border-bottom: 1px solid #999999;
				padding: 0px 10px 0px 10px;
			}
		}
	}


}