<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<div class="container" id="block1">
	<div id="block1_content">
		<div id="content1" class="content">
				<h3>You shop smart when it comes to everything else in your life.
				<br><br>Why should apartment hunting be any different?
				<br><br>Get a detailed report about your apartment from current tenants <em><u>before</u></em> you rent or buy.</h3>
				<p>Enter your info to learn more</p>
		</div>
		<div id="form_div" class="content">
			<h3 id="form_head">Get Your Detailed Apartment Report Today</h3>
			<%= render 'form' %>
		</div>
	</div>
</div>
<div class="container" id="block2">

</div>